#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  color: #091d22;
  background: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
}

h1 {
  margin: 80px 10px 30px 10px;
  text-align: center;
  font-family: "Paytone One";
  font-weight: 400;
  font-size: 42px;
  color: #7f62ff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  -webkit-text-stroke: 0.2px #ffffff;
  text-stroke: 0.2px #ffffff;
}

h2 {
  font-family: "Paytone One";
  font-weight: 400;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-align: center;
  color: #091d22;
}

button {
  appearance: button;
  width: 100%;
  max-width: 320px;
  background-color: #7f62ff;
  background-image: none;
  border: 1px solid #7f62ff;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #7f62ff 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  font-family: "Paytone One";
  font-weight: 400;
  letter-spacing: 0.1em;
  -webkit-text-stroke: 0.2px #091d22;
  text-stroke: 0.2px #091d22;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:focus {
  text-decoration: none;
}

button:hover {
  text-decoration: none;
}

button:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #7f62ff 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  button {
    padding: 12px 50px;
  }
}

.closeBtn {
  position: absolute;
  height: 40px;
  width: 40px;
  background-image: url('data:image/svg+xml,<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_107_346)"><g filter="url(%23filter0_d_107_346)"><path d="M18 2.25C9.30234 2.25 2.25 9.30234 2.25 18C2.25 26.6977 9.30234 33.75 18 33.75C26.6977 33.75 33.75 26.6977 33.75 18C33.75 9.30234 26.6977 2.25 18 2.25ZM23.8148 23.9836L21.4945 23.973L18 19.807L14.509 23.9695L12.1852 23.9801C12.0305 23.9801 11.9039 23.857 11.9039 23.6988C11.9039 23.632 11.9285 23.5688 11.9707 23.516L16.5445 18.0668L11.9707 12.6211C11.9282 12.5696 11.9047 12.5051 11.9039 12.4383C11.9039 12.2836 12.0305 12.157 12.1852 12.157L14.509 12.1676L18 16.3336L21.491 12.1711L23.8113 12.1605C23.966 12.1605 24.0926 12.2836 24.0926 12.4418C24.0926 12.5086 24.068 12.5719 24.0258 12.6246L19.459 18.0703L24.0293 23.5195C24.0715 23.5723 24.0961 23.6355 24.0961 23.7023C24.0961 23.857 23.9695 23.9836 23.8148 23.9836Z" fill="%23FFF0F0"/></g></g><defs><filter id="filter0_d_107_346" x="0.25" y="2.25" width="35.5" height="35.5" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="2"/><feGaussianBlur stdDeviation="1"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_107_346"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_107_346" result="shape"/></filter><clipPath id="clip0_107_346"><rect width="36" height="36" fill="white"/></clipPath></defs></svg>');
  background-repeat: no-repeat;
}

.layoutStyles {
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 20px;
  background-color: transparent;
}

.screenStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  width: 250px;
  height: 175px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.34);
  border-radius: 4px;
}

.AudioScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  font-family: Paytone One;
  font-size: 42px;
}

.audioImg {
  width: 250px;
  height: 180px;
  background-image: url('data:image/svg+xml,<svg width="60" height="56" viewBox="0 0 60 56" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M55.9834 43.4355L48.4434 39.0811C48.3195 39.0101 48.1828 38.9643 48.0412 38.9462C47.8996 38.9281 47.7559 38.938 47.6181 38.9755C47.4804 39.0129 47.3513 39.0771 47.2384 39.1645C47.1255 39.2518 47.0309 39.3605 46.96 39.4844L45.5996 41.8428C45.2988 42.3623 45.4766 43.0322 45.9961 43.333L53.5361 47.6875C53.66 47.7584 53.7967 47.8043 53.9382 47.8224C54.0798 47.8405 54.2236 47.8306 54.3614 47.7931C54.4991 47.7556 54.6281 47.6914 54.7411 47.6041C54.854 47.5168 54.9486 47.4081 55.0195 47.2842L56.3799 44.9258C56.6807 44.4062 56.4961 43.7363 55.9834 43.4355ZM46.9531 16.5156C47.024 16.6395 47.1187 16.7482 47.2316 16.8355C47.3445 16.9229 47.4735 16.9871 47.6113 17.0245C47.749 17.062 47.8928 17.0719 48.0344 17.0538C48.176 17.0357 48.3126 16.9899 48.4365 16.9189L55.9766 12.5645C56.4961 12.2637 56.6738 11.5938 56.373 11.0742L55.0195 8.72266C54.9486 8.59876 54.854 8.49005 54.7411 8.40273C54.6281 8.31541 54.4991 8.25119 54.3614 8.21374C54.2236 8.17629 54.0798 8.16634 53.9382 8.18445C53.7967 8.20257 53.66 8.24841 53.5361 8.31934L45.9961 12.6738C45.7464 12.8194 45.5646 13.0578 45.4903 13.3371C45.416 13.6164 45.4553 13.9137 45.5996 14.1641L46.9531 16.5156ZM58.8477 25.5391H50.0977C49.4961 25.5391 49.0039 26.0312 49.0039 26.6328V29.3672C49.0039 29.9688 49.4961 30.4609 50.0977 30.4609H58.8477C59.4492 30.4609 59.9414 29.9688 59.9414 29.3672V26.6328C59.9414 26.0312 59.4492 25.5391 58.8477 25.5391ZM37.7861 0.861328C37.3828 0.861328 36.9727 0.970703 36.5967 1.22363L12.3633 17.0625H1.15234C0.550781 17.0625 0.0585938 17.5547 0.0585938 18.1562V37.8438C0.0585938 38.4453 0.550781 38.9375 1.15234 38.9375H12.3633L36.5967 54.7764C36.9727 55.0225 37.3896 55.1387 37.7861 55.1387C38.9277 55.1387 39.9805 54.2295 39.9805 52.9443V3.05566C39.9805 1.77051 38.9277 0.861328 37.7861 0.861328Z" fill="%237F62FF"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
}

.clockStyles {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 320px;
  height: fit-content;
}

.line {
  position: absolute;
  border: 1px solid rgba(251, 251, 251, 0.28);
  width: 76px;
  height: 1px;
  backdrop-filter: blur(7.599999904632568px);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 0.3);
}

.line_left {
  margin-right: calc(100% - 50px);
  top: 50%;
}

.line_right {
  margin-left: calc(100% - 50px);
  top: 50%;
}

.clockImg {
  width: 20px;
  height: 36px;
  background-image: url('data:image/svg+xml,<svg width="20" height="36" viewBox="0 0 20 36" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_202_12)"><g filter="url(%23filter0_bd_202_12)"><path d="M0.775156 0C0.347049 0 0 0.34705 0 0.775157V0.775157C0 1.20326 0.347049 1.55031 0.775156 1.55031H19.2248C19.653 1.55031 20 1.20326 20 0.775157V0.775157C20 0.34705 19.653 0 19.2248 0H0.775156ZM2.42857 3.35901C1.87628 3.35901 1.42787 3.80494 1.49625 4.35298C2.05823 8.85665 6.02911 17.1379 10 17.1379C13.9709 17.1379 17.9418 8.85665 18.5037 4.35298C18.5721 3.80494 18.1237 3.35901 17.5714 3.35901H2.42857ZM10 18.8604C6.02901 18.8604 2.05803 27.142 1.49621 31.647C1.42787 32.1951 1.87629 32.641 2.42857 32.641H17.5714C18.1237 32.641 18.5721 32.1951 18.5038 31.647C17.942 27.142 13.971 18.8604 10 18.8604ZM0.775156 34.4497C0.347049 34.4497 0 34.7967 0 35.2248V35.2248C0 35.6529 0.347049 36 0.775156 36H19.2248C19.653 36 20 35.6529 20 35.2248V35.2248C20 34.7967 19.653 34.4497 19.2248 34.4497H0.775156Z" fill="white" fill-opacity="0.3" shape-rendering="crispEdges"/><path d="M19.2248 1.05031H0.775156C0.623192 1.05031 0.5 0.927122 0.5 0.775157C0.5 0.623191 0.623192 0.5 0.775156 0.5H19.2248C19.3768 0.5 19.5 0.623192 19.5 0.775157C19.5 0.927122 19.3768 1.05031 19.2248 1.05031ZM10 16.6379C9.18264 16.6379 8.30494 16.2089 7.40985 15.4021C6.52055 14.6006 5.66431 13.4702 4.90001 12.1795C3.36846 9.59317 2.2633 6.46201 1.99241 4.29107C1.96629 4.08174 2.13486 3.85901 2.42857 3.85901H17.5714C17.8651 3.85901 18.0337 4.08174 18.0076 4.29107C17.7367 6.46201 16.6315 9.59317 15.1 12.1795C14.3357 13.4702 13.4795 14.6006 12.5902 15.4021C11.6951 16.2089 10.8174 16.6379 10 16.6379ZM1.99237 31.7089C2.26319 29.5373 3.36833 26.4057 4.8999 23.8191C5.66421 22.5283 6.52046 21.3978 7.40979 20.5962C8.3049 19.7894 9.18262 19.3604 10 19.3604C10.8174 19.3604 11.6951 19.7894 12.5902 20.5962C13.4795 21.3978 14.3358 22.5283 15.1001 23.8191C16.6317 26.4057 17.7368 29.5373 18.0076 31.7089C18.0337 31.9183 17.8651 32.141 17.5714 32.141H2.42857C2.13487 32.141 1.96626 31.9183 1.99237 31.7089ZM19.2248 34.9497C19.3768 34.9497 19.5 35.0729 19.5 35.2248C19.5 35.3768 19.3768 35.5 19.2248 35.5H0.775156C0.623192 35.5 0.5 35.3768 0.5 35.2248C0.5 35.0729 0.623192 34.9497 0.775156 34.9497H19.2248Z" stroke="%23FBFBFB" stroke-opacity="0.28" shape-rendering="crispEdges"/></g></g><defs><filter id="filter0_bd_202_12" x="-30" y="-26" width="80" height="96" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feGaussianBlur in="BackgroundImageFix" stdDeviation="3.8"/><feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_202_12"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="4"/><feGaussianBlur stdDeviation="15"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0"/><feBlend mode="normal" in2="effect1_backgroundBlur_202_12" result="effect2_dropShadow_202_12"/><feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_202_12" result="shape"/></filter><clipPath id="clip0_202_12"><rect width="20" height="36" fill="white"/></clipPath></defs></svg>');
  background-position: center;
  background-repeat: no-repeat;
  margin: 30px;
}

.timer {
  width: 50px;
  margin-bottom: 5px;
  font-family: "Paytone One";
  font-weight: 600;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(7.599999904632568px);
  text-shadow: 0 4px 30px #00000005;
  -webkit-text-stroke: 1px #fbfbfb4d;
}

.characterScreen {
  width: 100%;
  max-width: 330px;
}
.characterBoxStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  width: 50px;
  height: 50px;
  color: #7f62ff;
  border-radius: 4px;
  background: transparent;
  font-family: "Noto Sans", sans-serif;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.3s ease;
}

.characterBoxStyle.char-correct {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.34);
  border-radius: 4px;
  color: #00b76a;
  transform: scale(1.1);
}

.characterBoxStyle.char-incorrect {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.34);
  border-radius: 4px;
  color: #ff6262;
  transform: scale(1.1);
}

.characterBoxStyle:hover {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.34);
  border-radius: 4px;
}

.cloud {
  background-color: #fff;
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 0%, 0),
    hsla(0, 0%, 0%, 0.1)
  );
  border-radius: 1em;
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.5);
  display: inline-block;
  -webkit-filter: drop-shadow(0 2px 3px hsla(0, 0%, 0%, 0.25));
}

.cloud_1 {
  height: 1em;
  left: 40%;
  margin-left: -1.5em;
  position: absolute;
  top: 17%;
  width: 3em;
}
.cloud_2 {
  height: 1em;
  left: 46%;
  margin-left: -1.5em;
  position: absolute;
  top: 12%;
  width: 3em;
}
.cloud_3 {
  height: 1em;
  left: 59%;
  margin-left: -2.5em;
  position: absolute;
  top: 15%;
  width: 3em;
}
.cloud:after,
.cloud:before {
  background-color: #fff;
  content: "";
  border-radius: 100%;
  position: absolute;
}
.cloud:after {
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 0%, 0) 50%,
    hsla(0, 0%, 0%, 0.025)
  );
  height: 1em;
  right: 0.4em;
  top: -0.5em;
  width: 1em;
}

.cloud:before {
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 0%, 0) 50%,
    hsla(0, 0%, 0%, 0.075)
  );
  height: 1.6em;
  left: 0.4em;
  top: -0.75em;
  width: 1.6em;
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;
}
.resultScreen {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.34);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
}
.resultScreen.correct h2 {
  font-size: 32px;
  color: #7f62ff;
}
.resultScreen.incorrect h2 {
  font-size: 32px;
  color: #091d22;
}
